<% provide(:title, "Sign in") %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h2>Sign in to Rhemaholic</h2>
      <div class="account-wall">
        <%= image_tag "bible.png", alt: "Bible", class: "profile-img" %>
        <div class="form-signin">
          <%= form_for(:session, url: sessions_path) do |f| %>
            <%= f.text_field :email, class: "form-control", placeholder: "Email", required: 'required', autofocus: 'autofocus' %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password (6 characters minimum)", required: 'required', minlength: "6", maxlength: "20" %>
            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>Keep me logged in on this device</span>
            <% end %>
            <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
          <% end %>
          <script>
            $("form").validate();
          </script>
          <%= link_to "Forgot password", new_password_reset_path, class: "pull-left need-help" %>
          <%= link_to "Need help?", help_path, class: "pull-right need-help" %><span class="clearfix"></span>
        </div>
      </div>
      <p class= "text-center new-account">New user? <%= link_to "Create an account", signup_path %> now!</p>
    </div>
  </div>
</div>