<% if @feed_items.any? %>
    <ol class="microposts" id="posts">
      <%= render @feed_items %>
    </ol>
    <%= will_paginate @feed_items %>
<% else %>
    <ol class="microposts" id="posts">
      <li class="quiet">
        <%= link_to gravatar_for(current_user, size: 50), current_user %>
        <span class="user"><%= link_to current_user.name, current_user %></span>
        <span class="content">It's quite quiet in here. I should say something now! I should also
          <%= link_to ' find users', users_path %> to follow.
        </span>
        <span class="timestamp">
          <%= time_ago_in_words(Time.zone.now) %> ago.
        </span>
      </li>
    </ol>
<% end %>