<% @user = User.friendly.find(params[:id]) %>
<% @user.latest_posts.all.each do |post| %>
    <li class="panel panel-default" id="post-<%= post.id %>">
      <div class="panel-body">
        <%= link_to gravatar_for(post.user, size: 50), post.user %>
        <span class="user"><%= link_to post.user.name, post.user %></span>
        <span class="pull-right"><%= post.category %></span>
      <span class="content">
        <%= link_to post.title, post %>.
      </span>
      <span class="timestamp">
        <%= time_ago_in_words(post.created_at) %> ago.
        <% if current_user?(post.user) %>
            <%= link_to 'delete', post,    method: :delete,
                        data: { confirm: 'Are you sure you want to delete this post?' } %>
        <% end %>
      </span>
      </div>
    </li>
<% end %>