<div class="well">
  <div class="form-horizontal">
    <%= form_for(@micropost, html: {multipart: true }, remote: true) do |f| %>
        <h4>What's on your heart?</h4>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group" style="padding:14px;">
          <%= f.text_area :content, placeholder: "Write it down, make it plain...", class: "form-control" %>
          <!--<span class="picture">-->
            <!--<%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png', text: "Upload Image" %>-->
          <!--</span>-->
          <%= f.submit "Post", class: "btn btn-primary pull-right" %>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
        size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>