<div class="stats text-center">
  <%= link_to @user do %>
    <strong id="posts-count" class="stat">
      <% posts_count = @user.microposts.count + @user.posts.count %>
      <% if posts_count == 1 %>
          <% description = 'post' %>
      <% else %>
          <% description = 'long_posts' %>
      <% end %>
      <%= posts_count %>
    </strong>
    <%= description %>
  <% end %>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <a href="<%= leaders_user_path(@user) %>">
    <strong id="leaders" class="stat">
      <%= @user.leaders.count %>
    </strong>
    following
  </a>
</div>
<div class="alert alert-success" id="follow-alert" hidden="true">
  You are now following <%= @user.name %>
</div>
<div class="alert alert-success" id="unfollow-alert" hidden="true">
  You stopped following <%= @user.name %>
</div>