<% provide(:title, 'Contact') %>

<div class="container">
  <div class="row" id="contact">
    <div>
      <p class="lead">
        We'd love to hear from you. Suggestions, questions and feedback are welcome.
      </p>
      <div class="panel panel-default jumbotron" id="form_container">
        <div class="panel-body">
          <%= simple_form_for @contact do |f| %>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, required: true, class: 'form-control', placeholder: 'First and last name please' %>
                    <%= f.label :phone %>
                    <%= f.phone_field :phone, class: 'form-control', placeholder: 'What is your phone number?' %>
                    <%= f.label :email %>
                    <%= f.email_field :email, required: true, class: 'form-control', placeholder: 'What is your email address?' %>
                    <div class= "hidden">
                      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="comments">Comment/Questions:</label>
                  <%= f.text_area :comments, required: true, class: 'form-control', placeholder: 'Write your message here!' %>
                </div>
              </div>
              <%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>